body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
    circle at 0% 0%,
    #373b52,
    #252736 51%,
    #1d1e26
  );
}
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 30px;
  width: 70%;
}
.search-form h1 {
  color: #f5f6ff;
}
.input-wrapper {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(
      to right,
      #b294ff,
      #57e6e6,
      #feffb8,
      #57e6e6,
      #b294ff,
      #57e6e6
    );
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
  }
}
.searchbar {
  display: flex;
  flex-direction: row;
  color: #bfd2ff;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 2px;
  padding: 1.4rem 2rem 1.6rem;
  background: rgba(57, 63, 84, 0.8);
  border: none;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.searchbar:focus {
  border-color: none;
  border: none;
}
@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.user-card {
  width: 70%;
  position: relative;
  background-color: rgba(57, 63, 84, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  color: rgba(202, 205, 239, 0.8);
}
.avatar {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}
.user-info {
  font-size: 20px;
  height: 130px;
  background-color: rgba(45, 49, 66, 0.8);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.name {
  margin: 0px;
}
.user-info ul {
  margin: 0px;
  list-style: none;
  display: flex;
  padding: 0px;
  gap: 10px;
}
.user-info a {
  padding: 5px;
  border-radius: 50px;
  text-decoration: none;

  background-color: #7881a1;
  transition: background-color 0.25s;
  &:hover {
    background-color: #bfd2ff;
  }
}
.hidden {
  display: none;
}
